{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Accepted Papers</h3>

    <div class="col-md-12 welcome-middle">
      <p>
        The following papers have been accepted to appear at the 28th ACM
        SIGOPS Symposium on Operating Systems Principles (SOSP), conditional
        on the approval of each paper's shepherd:
      </p>
    </div>

<div class="col-md-12 welcome-middle"><p>
<b>Using Lightweight Formal Methods to Validate a Key-Value Storage Node in Amazon S3</b> by
James Bornholt (Amazon Web Services &amp; The University of Texas at Austin), Rajeev Joshi (Amazon Web Services), Vytautas Astrauskas (ETH Zurich), Brendan Cully (Amazon Web Services), Bernhard Kragl (Amazon Web Services), Seth Markle (Amazon Web Services), Kyle Sauri (Amazon Web Services), Drew Schleit (Amazon Web Services), Grant Slatton (Amazon Web Services), Serdar Tasiran (Amazon Web Services), Jacob Van Geffen (University of Washington), and Andrew Warfield (Amazon Web Services)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Boki: Stateful Serverless Computing with Shared Logs</b> by
Zhipeng Jia (The University of Texas at Austin) and Emmett Witchel (The University of Texas at Austin and Katana Graph)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>ghOSt: Fast &amp; Flexible User-Space Delegation of Linux Scheduling</b> by
Jack Tigar Humphries (Google), Neel Natu (Google), Ashwin Chaugule (Google), Ofir Weisse (Google), Barret Rhoden (Google), Josh Don (Google), Luigi Rizzo (Google), Oleg Rombakh (Google), Paul Turner (Google), and Christos Kozyrakis (Stanford University and Google)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Exploiting Nil-Externality for Fast Replicated Storage</b> by
Aishwarya Ganesan (VMware Research), Ramnatthan Alagappan (VMware Research), Andrea Arpaci-Dusseau (University of Wisconsin–Madison), and Remzi Arpaci-Dusseau (University of Wisconsin–Madison)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Log-structured Protocols in Delos</b> by
Mahesh Balakrishnan (Facebook), Chen Shen (Facebook), Ahmed Jafri (Facebook), Suyog Mapara (Facebook), David Geraghty (Facebook), Jason Flinn (Facebook), Vidhya Venkat (Facebook), Ivailo Nedelchev (Facebook), Santosh Ghosh (Facebook), Mihir Dharamshi (Facebook), Jingming Liu (Facebook), Filip Gruszczynski (Facebook), Jun Li (Facebook), Rounak Tibrewal (Facebook), Ali Zaveri (Facebook), Rajeev Nagar (Facebook), Ahmed Yossef (Facebook), Francois Richard (Facebook), and Yee Jiun Song (Facebook)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>iGUARD: In-GPU Advanced Race Detection</b> by
Aditya K Kamath (Indian Institute of Science) and Arkaprava Basu (Indian Institute of Science)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Shard Manager: A Generic Shard Management Framework for Geo-distributed Applications</b> by
Sangmin Lee (Facebook), Zhenhua Guo (Facebook), Omer Sunercan (Facebook), Jun Ying (Facebook), Thawan Kooburat (Facebook), Suryadeep Biswal (Facebook), Jun Chen (Facebook), Kun Huang (Facebook), Yatpang Cheung (Facebook), Yiding Zhou (Facebook), Kaushik Veeraraghavan (Facebook), Biren Damani (Facebook), Pol Mauri Ruiz (Facebook), Vikas Mehta (Facebook), and Chunqiang Tang (Facebook)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>HEALER: Relation Learning Guided Kernel Fuzzing</b> by
Hao Sun (School of Software, Tsinghua University, KLISS, BNRist, China), Yu Heng Shen (School of Software, Tsinghua University, KLISS, BNRist, China), Cong Wang (School of Software, Tsinghua University, KLISS, BNRist, China), Jianzhong Liu (School of Software, Tsinghua University, KLISS, BNRist, China), Yu Jiang (School of Software, Tsinghua University, KLISS, BNRist, China), Ting Chen (Center for Cybersecurity, University of Electronic Science and Technology of China, China), and Aiguo Cui (Huawei Technologies Co Ltd, China)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Syrup: User-Defined Scheduling across the Stack</b> by
Kostis Kaffes (Stanford University), Jack Tigar Humphries (Stanford University), David Mazières (Stanford University), and Christos Kozyrakis (Stanford University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Snowboard: Finding Kernel Concurrency Bugs through Systematic Inter-thread Communication Analysis</b> by
Sishuai Gong (Purdue University), Deniz Altınbüken (Google Research), Pedro Fonseca (Purdue University), and Petros Maniatis (Google Research)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>HeMem: Scalable Tiered Memory Management for Big Data Applications and Real NVM</b> by
Amanda Raybuck (University of Texas at Austin), Tim Stamler (University of Texas at Austin), Wei Zhang (Microsoft), Mattan Erez (University of Texas at Austin), and Simon Peter (University of Texas at Austin)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Cuckoo Trie: Exploiting Memory-Level Parallelism for Efficient DRAM Indexing</b> by
Adar Zeitak (Tel Aviv University) and Adam Morrison (Tel Aviv University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Basil: Breaking up BFT with ACID (transactions)</b> by
Florian Suri-Payer (Cornell University), Matthew Burke (Cornell University), Yunhao Zhang (Cornell University), Zheng Wang (Cornell University), Lorenzo Alvisi (Cornell University), and Natacha Crooks (UC Berkeley)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Gradient Compression Supercharged High-Performance Data Parallel DNN Training</b> by
Youhui Bai (University of Science and Technology of China), Cheng Li (University of Science and Technology of China), Quan Zhou (University of Science and Technology of China), Jun Yi (University of Nevada at Reno), Ping Gong (University of Science and Technology of China), Feng Yan (University of Nevada at Reno), Ruichuan Chen (Nokia Bell Labs), and Yinlong Xu (University of Science and Technology of China)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>TwinVisor: Hardware-isolated Confidential Virtual Machines for ARM</b> by
Dingji Li (Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University; Engineering Research Center for Domain-specific Operating Systems, Ministry of Education, China), Zeyu Mi (Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University; Engineering Research Center for Domain-specific Operating Systems, Ministry of Education, China), Yubin Xia (Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University; Engineering Research Center for Domain-specific Operating Systems, Ministry of Education, China), Binyu Zang (Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University; Engineering Research Center for Domain-specific Operating Systems, Ministry of Education, China), Haibo Chen (Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University; Engineering Research Center for Domain-specific Operating Systems, Ministry of Education, China), and Haibing Guan (Shanghai Key Laboratory of Scalable Computing and Systems, Shanghai Jiao Tong University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Xenic: SmartNIC-Accelerated Distributed Transactions</b> by
Henry N. Schuh (University of Washington), Weihao Liang (University of Washington), Ming Liu (University of Wisconsin at Madison/VMware Research), Jacob Nelson (Microsoft Research), and Arvind Krishnamurthy (University of Washington)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Witcher: Systematic Crash Consistency Testing for Non-Volatile Memory Key-Value Stores</b> by
Xinwei Fu (Virginia Tech), Wook-Hee Kim (Virginia Tech), Ajay Paddayuru Shreepathi (Stony Brook University), Mohannad Ismail (Virginia Tech), Sunny Wadkar (Virginia Tech), Dongyoon Lee (Stony Brook University), and Changwoo Min (Virginia Tech)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>CLoF: A Compositional Lock Framework for Multi-level NUMA Systems</b> by
Rafael Lourenco de Lima Chehab (Huawei Dresden Research Center, Huawei OS Kernel Lab, Technische Universität Dresden), Antonio Paolillo (Huawei Dresden Research Center, Huawei OS Kernel Lab), Diogo Behrens (Huawei Dresden Research Center, Huawei OS Kernel Lab), Ming Fu (Huawei Dresden Research Center, Huawei OS Kernel Lab), Hermann Härtig (Technische Universität Dresden), and Haibo Chen (Huawei OS Kernel Lab, Shanghai Jiao Tong University China)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Geometric Partitioning: Explore the Boundary of Optimal Erasure Code Repair</b> by
Yingdi Shan (Tsinghua University), Kang Chen (Tsinghua University), Tuoyu Gong (Tsinghua University), Lidong Zhou (Microsoft Research), Tai Zhou (Alibaba Group), and Yongwei Wu (Tsinghua University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>dSpace: Composable Abstractions for Smart Spaces</b> by
Silvery Fu (UC Berkeley) and Sylvia Ratnasamy (UC Berkeley)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Formal Verification of a Multiprocessor Hypervisor on Arm Relaxed Memory Hardware</b> by
Runzhou Tao (Columbia University), Jianan Yao (Columbia University), Xupeng Li (Columbia University), Shih-Wei Li (Columbia University), Jason Nieh (Columbia University), and Ronghui Gu (Columbia University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>MIND: In-Network Memory Management for Disaggregated Data Centers</b> by
Seung-seob Lee (Yale University), Yanpeng Yu (Yale University), Yupeng Tang (Yale University), Anurag Khandelwal (Yale University), Lin Zhong (Yale University), and Abhishek Bhattacharjee (Yale University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Snoopy: Surpassing the Scalability Bottleneck of Oblivious Storage</b> by
Emma Dauterman (UC Berkeley), Vivian Fang (UC Berkeley), Ioannis Demertzis (UC Berkeley, UC Santa Cruz), Natacha Crooks (UC Berkeley), and Raluca Ada Popa (UC Berkeley)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>The Aurora Single Level Store Operating System</b> by
Emil Tsalapatis (University of Waterloo), Ryan Hancock (University of Waterloo), Tavian Barnes (University of Waterloo), and Ali José Mashtizadeh (University of Waterloo)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Forerunner: Constraint-based Speculative Transaction Execution for Ethereum</b> by
Yang Chen (Microsoft Research), Zhongxin Guo (Microsoft Research), Runhuai Li (Zhejiang University and Microsoft Research), Shuo Chen (Microsoft Research), Lidong Zhou (Microsoft Research), Yajin Zhou (Zhejiang University), and Xian Zhang (Microsoft Research)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>LineFS: Efficient SmartNIC Offload of a Distributed File System with Pipeline Parallelism</b> by
Jongyul Kim (KAIST), Insu Jang (KAIST), Waleed Reda (Université catholique de Louvain / KTH Royal Institute of Technology), Jaeseong Im (KAIST), Marco Canini (KAUST), Dejan Kostić (KTH Royal Institute of Technology), Youngjin Kwon (KAIST), Simon Peter (University of Texas at Austin), and Emmett Witchel (The University of Texas at Austin and Katana Graph)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Regular Sequential Serializability and Regular Sequential Consistency</b> by
Jeffrey Helt (Princeton University), Matthew Burke (Cornell University), Amit Levy (Princeton University), and Wyatt Lloyd (Princeton University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>WineFS: a hugepage-aware file system for persistent memory that ages gracefully</b> by
Rohan Kadekodi (University of Texas at Austin), Saurabh Kadekodi (Carnegie Mellon University), Soujanya Ponnapalli (University of Texas at Austin), Harshad Shirwadkar (Google), Greg Ganger (Carnegie Mellon University), Aasheesh Kolli (Penn State University and VMware Research), and Vijay Chidambaram (University of Texas at Austin and VMware Research)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Kangaroo: Caching Billions of Tiny Objects on Flash</b> by
Sara McAllister (Carnegie Mellon University), Benjamin Berg (Carnegie Mellon University), Julian Tutuncu-Macias (Carnegie Mellon University), Juncheng Yang (Carnegie Mellon University), Sathya Gunasekar (Facebook), Jimmy Lu (Facebook), Daniel Berger (University of Washington/ Microsoft Research), Nathan Beckmann (Carnegie Mellon University), and Gregory R. Ganger (Carnegie Mellon University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>The Demikernel Library OS Architecture for Microsecond, Kernel-Bypass Datacenter Systems</b> by
Irene Zhang (Microsoft Research/University of Washington), Amanda Raybuck (University of Texas at Austin), Pratyush Patel (University of Washington), Kirk Olynyk (Microsoft Research), Jacob Nelson (Microsoft Research), Omar S. Navarro Leija (University of Pennsylvania), Ashlie Martinez (University of Washinton), Jing Liu (University of Wisconsin, Madison), Anna Kornfeld Simpson (University of Washington), Sujay Jayakar (Microsoft Research), Pedro Henrique Penna (Microsoft Research), Max Demoulin (University of Pennsylvania), Piali Choudhury (Microsoft Research), and Anirudh Badam (Microsoft)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Rudra: Finding Memory Safety Bugs in Rust at the Ecosystem Scale</b> by
Yechan Bae (Georgia Institute of Technology), Youngsuk Kim (Georgia Institute of Technology), Ammar Askar (Georgia Institute of Technology), Jungwon Lim (Georgia Institute of Technology), and Taesoo Kim (Georgia Institute of Technology)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>When Idling is Ideal: Optimizing Tail-Latency for Highly-Dispersed Datacenter Workloads with Perséphone</b> by
Max Demoulin (University of Pennsylvania), Josh Fried (MIT CSAIL), Isaac Pedisich (University of Pennsylvania), Marios Kogias (Microsoft Research), Boon Thau Loo (University of Pennsylvania), Linh Thi Xuan Phan (University of Pennsylvania), and Irene Zhang (Microsoft Research/University of Washington)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Bladerunner: Stream Processing at Scale for a Live View of Backend Data Mutations at the Edge</b> by
Jeff Barber (Facebook), Ximing Yu (Facebook), Laney Kuenzel Zamore (Facebook), Shie Erlich (Facebook), Jerry Lin (Facebook), Vahid Jazayeri (Facebook), Tony Savor (Google), and Michael Stumm (University of Toronto)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>IODA: A Host/Device Co-Design for Strong Predictability Contract on Modern Flash Storage</b> by
Huaicheng Li (University of Chicago and Carnegie Mellon University), Martin L. Putra (University of Chicago), Ronald Shi (University of Chicago), Xing Lin (NetApp), Gregory R. Ganger (Carnegie Mellon University), and Haryadi S. Gunawi (University of Chicago)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>BIDL: A High-throughput, Low-latency Permissioned Blockchain Framework for Datacenter Networks</b> by
Ji Qi (The University of Hong Kong), Xusheng Chen (The University of Hong Kong), Yunpeng Jiang (The University of Hong Kong), Jianyu Jiang (The University of Hong Kong), Tianxiang Shen (The University of Hong Kong), Shixiong Zhao (The University of Hong Kong), Sen Wang (Huawei Technologies Co., Ltd.), Gong Zhang (Huawei Technologies Co., Ltd.), Li Chen (Huawei Technologies Co., Ltd.), Man Ho Au (The University of Hong Kong), and Heming Cui (The University of Hong Kong)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Random Walks on Huge Graphs at Cache Efficiency</b> by
Ke Yang (Tsinghua Unversity &amp; Qatar Computing Research Institute, HBKU &amp; Beijing HaiZhi XingTu Technology Co., Ltd.), Xiaosong Ma (Qatar Computing Research Institute, HBKU), Saravanan Thirumuruganathan (Qatar Computing Research Institute, HBKU), Kang Chen (Tsinghua University &amp; Beijing HaiZhi XingTu Technology Co., Ltd.), and Yongwei Wu (Tsinghua University &amp; Beijing HaiZhi XingTu Technology Co., Ltd.)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Birds of a Feather Flock Together : Scaling RDMA RPCs with FLOCK</b> by
Sumit Kumar Monga (Virginia Tech), Sanidhya Kashyap (EPFL), and Changwoo Min (Virginia Tech)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Understanding and Detecting Software Upgrade Failures in Distributed Systems</b> by
Yongle Zhang (Purdue University), Junwen Yang (University of Chicago), Zhuqi Jin (University of Toronto), Utsav Sethi (University of Chicago), Kirk Rodrigues (University of Toronto), Shan Lu (University of Chicago), and Ding Yuan (University of Toronto)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>RAS: Continuously Optimized Region-Wide Datacenter Resource Allocation</b> by
Andrew Newell (Facebook), Dimitrios Skarlatos (Facebook/Carnegie Mellon University), Jingyuan Fan (Facebook), Pavan Kumar (Facebook), Maxim Khutornenko (Facebook), Mayank Pundir (Facebook), Yirui Zhang (Facebook), Mingjun Zhang (Facebook), Yuanlai Liu (Facebook), Linh Le (Facebook), Brendon Daugherty (Facebook), Apurva Samudra (Facebook), Prashasti Baid (Facebook), James Kneeland (Facebook), Igor Kabiljo (Facebook), Dmitry Shchukin (Facebook), Andre Rodrigues (Facebook), Scott Michelson (Facebook), Ben Christensen (Facebook), Kaushik Veeraraghavan (Facebook), and Chunqiang Tang (Facebook)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>J-NVM: Off-heap Persistent Objects in Java</b> by
Anatole Lefort (Télécom SudParis - Institut Polytechnique de Paris), Yohan Pipereau (Télécom SudParis - Institut Polytechnique de Paris), Kwabena Amponsem Boateng (Télécom SudParis - Institut Polytechnique de Paris), Pierre Sutra (Télécom SudParis - Institut Polytechnique de Paris), and Gaël Thomas (Télécom SudParis - Institut Polytechnique de Paris)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Faster and Cheaper Serverless Computing on Harvested Resources</b> by
Yanqi Zhang (Cornell University), Inigo Goiri (Microsoft Research), Gohar Irfan Chaudhry (Microsoft Research), Rodrigo Fonseca (Microsoft Research), Sameh Elnikety (Microsoft Research), Christina Delimitrou (Cornell University), and Ricardo Bianchini (Microsoft Research)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Scale and Performance in a Filesystem Semi-Microkernel</b> by
Jing Liu (University of Wisconsin–Madison), Anthony Rebello (University of Wisconsin–Madison), Yifan Dai (University of Wisconsin–Madison), Chenhao Ye (University of Wisconsin–Madison), Sudarsun Kannan (Rutgers University), Andrea Arpaci-Dusseau (University of Wisconsin–Madison), and Remzi Arpaci-Dusseau (University of Wisconsin–Madison)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Rabia: Simplifying State-Machine Replication Through Randomization</b> by
Haochen Pan (Boston College), Jesse Tuglu (Boston College), Neo Zhou (Boston College), Tianshu Wang (Boston College), Yicheng Shen (Boston College), Xiong Zheng (UT Austin), Joseph Tassarotti (Boston College), Lewis Tseng (Boston College), and Roberto Palmieri (Lehigh University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Automated SmartNIC Offloading Insights for Network Functions</b> by
Yiming Qiu (Rice University), Jiarong Xing (Rice University), Kuo-Feng Hsu (Rice University), Qiao Kang (Rice University), Ming Liu (University of Wisconsin at Madison/VMware Research), Srinivas Narayana (Rutgers University), and Ang Chen (Rice University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Kauri: Scalable BFT Consensus with Pipelined Tree-Based Dissemination and Aggregation</b> by
Ray Neiheiser (INESC-ID, IST, U. Lisboa and UFSC/DAS), Miguel Matos (INESC-ID, IST, U. Lisboa), and Luís Rodrigues (INESC-ID, IST, U. Lisboa)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Mycelium: Large-Scale Distributed Graph Queries with Differential Privacy</b> by
Edo Roth (University of Pennsylvania), Karan Newatia (University of Pennsylvania), Yiping Ma (University of Pennsylvania), Ke Zhong (University of Pennsylvania), Sebastian Angel (University of Pennsylvania), and Andreas Haeberlen (University of Pennsylvania)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Coeus: A system for oblivious document ranking and retrieval</b> by
Ishtiyaque Ahmad (University of California Santa Barbara), Laboni Sarker (University of California Santa Barbara), Divyakant Agrawal (University of California Santa Barbara), Amr El Abbadi (University of California Santa Barbara), and Trinabh Gupta (University of California Santa Barbara)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>PRISM: Rethinking the RDMA Interface for Distributed Systems</b> by
Sowmya Dharanipragada (Cornell University), Shannon Joyner (Cornell University), Matthew Burke (Cornell University), Adriana Szekeres (VMWare Research), Jacob Nelson (Microsoft Research), Irene Zhang (Microsoft Research/University of Washington), and Dan Ports (Microsoft Research)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Solving Large-Scale Granular Resource Allocation Problems Efficiently with POP</b> by
Deepak Narayanan (Stanford University), Fiodar Kazhamiaka (Stanford University), Firas Abuzaid (Stanford University), Peter Kraft (Stanford University), Akshay Agrawal (Stanford University), Srikanth Kandula (Microsoft Research), Stephen Boyd (Stanford University), and Matei Zaharia (Stanford University and Databricks)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>PACTree: A High Performance Persistent Range Index Using PAC Guidelines</b> by
Wook-Hee Kim (Virginia Tech), R. Madhava Krishnan (Virginia Tech), Xinwei Fu (Virginia Tech), Sanidhya Kashyap (EPFL), and Changwoo Min (Virginia Tech)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Generating Complex, Realistic Cloud Workloads using Recurrent Neural Networks</b> by
Shane Bergsma (Huawei Canada Research Center), Timothy Zeyl (Huawei Canada Research Center), Arik Senderovich (University of Toronto), and J. Christopher Beck (University of Toronto)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Caracal: Contention Management with Deterministic Concurrency Control</b> by
Dai Qin (University of Toronto), Angela Demke Brown (University of Toronto), and Ashvin Goel (University of Toronto)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>Crash Consistent Non-Volatile Memory Express</b> by
Xiaojian Liao (Tsinghua University), Youyou Lu (Tsinghua University), Zhe Yang (Tsinghua University), and Jiwu Shu (Tsinghua University)
</p></div>

<div class="col-md-12 welcome-middle"><p>
<b>FragPicker: A New Defragmentation Tool for Modern Storage Devices</b> by
Jonggyu Park (Sungkyunkwan University) and Young Ik Eom (Dept. of Electrical and Computer Engineering/College of Computing and Informatics, Sungkyunkwan University)
</p></div>

    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
