{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}



{% block content %}
<div class="main-text">
  <style>
  .program {font-size:16px;}
  .program p    {margin-bottom: 1em; line-height:  1.5;}
  </style>
  <div class="program">
    <h3>SOSP 2021 Ask-Me-Anything</h3>

    <div class="col-md-12">
    <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <div style="text-align:justify; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400; font-size:16px">
      <div style="padding-bottom: 10px">
        Throughout the conference, there will be several <i>Ask Me Anything</i> (AMA) sessions, where you can ask questions to members of the community.  AMA sessions are listed both here and on the SOSP <a href="program.html">program</a>.
      </div>

      <div style="padding-bottom: 10px">
        Use the <b>#ama</b> channel on Slack to ask your questions!
      </div>

      <div>
        AMA Organizers:<br/>
        <ul style="padding-left: 20px">
          <li><a href="http://pages.cs.wisc.edu/~ra/">Ram Alagappan</a> (VMware Research)</li>
          <li><a href="http://pages.cs.wisc.edu/~ag/">Aishwarya Ganesan</a> (VMware Research)</li>
          <li><a href="https://ipads.se.sjtu.edu.cn/pub/members/rong_chen">Rong Chen</a> (Shanghai Jiao Tong University)</li>
          <li><a href="https://ipads.se.sjtu.edu.cn/zh/pub/members/yubin_xia/">Yubin Xia</a> (Shanghai Jiao Tong University)</li>
          </ul>
        </div>
        </div>
      </div>

    <span class="pull-right">{% include "timezones.html" %}</span>
    
    <h2 class="left-h">Day One</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Shan Lu (University of Chicago), <i>Moderator: Abutalib Aghayev (Pennsylvania State University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635283800000" end="1635285600000">14:30 - 15:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jason Nieh (Columbia University), <i>Moderator: Sudarsun Kannan (Rutgers University - New Brunswick)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635285600000" end="1635287400000">15:00 - 15:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Michael M. Swift (University of Wisconsin - Madison), <i>Moderator: Aastha Mehta (University of British Columbia)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635287400000" end="1635289200000">15:30 - 16:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jason Flinn (Facebook), <i>Moderator: Adriana Szekeres (VMware Research)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635289200000" end="1635291000000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Zheng Zhang (AWS Shanghai AI Lab), <i>Moderator: Mingyu Li (Shanghai Jiao Tong University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635316200000" end="1635318000000">23:30 - 00:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Xiaosong Ma (Hamad Bin Khalifa University), <i>Moderator: Cheng Li (University of Science and Technology of China)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635318000000" end="1635319800000">00:00 - 00:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Sorav Bansal (IIT Delhi), <i>Moderator: Arkaprava Basu (Indian Institute of Science)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635319800000" end="1635321600000">00:30 - 01:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Chuanxiong Guo (Bytedance AI Lab), <i>Moderator: Xin Jin (Peking University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635321600000" end="1635323400000">01:00 - 01:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    
    <h2 class="left-h">Day Two</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Ada Gavrilovska (Georgia Institute of Technology), <i>Moderator: Neeraja Yadwadkar (University of Texas at Austin and VMware Research)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635372900000" end="1635374700000">15:15 - 15:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Ion Stoica (University of California, Berkeley), <i>Moderator: Andrew R. Quinn (University of California, Santa Cruz)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635374700000" end="1635376500000">15:45 - 16:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jon Howell (VMware Research), <i>Moderator: Kai Mast (University of Wisconsin - Madison)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635376500000" end="1635378300000">16:15 - 16:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Lidong Zhou (Microsoft Research Asia), <i>Moderator: Zhi Yang (Peking University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635407100000" end="1635408900000">00:45 - 01:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Haibo Chen (Shanghai Jiao Tong University), <i>Moderator: Yanyan Jiang (Nanjing University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635408900000" end="1635410700000">01:15 - 01:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    
    <h2 class="left-h">Day Three</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          David G. Andersen (Carnegie Mellon University), <i>Moderator: Oana Balmau (McGill University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635461100000" end="1635462900000">15:45 - 16:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Kimberly Keeton (Google), <i>Moderator: Jian Huang (University of Illinois at Urbana-Champaign)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635462900000" end="1635464700000">16:15 - 16:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Willy Zwaenepoel (The University of Sydney), <i>Moderator: Jinyu Gu (Shanghai Jiao Tong University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635493500000" end="1635495300000">00:45 - 01:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Wenguang Chen (Tsinghua University), <i>Moderator: Youyou Lu (Tsinghua University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635495300000" end="1635497100000">01:15 - 01:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    <hr>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
