{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="col-md-12 welcome">
    <h3>SOSP 2021 Awards</h3>

    <div>
      <h2>Best Paper Awards</h2>

      <p><b>Kangaroo: Caching Billions of Tiny Objects on Flash</b></p>
      <p>Sara McAllister (Carnegie Mellon University), Benjamin Berg (Carnegie Mellon University), Julian Tutuncu-Macias (Carnegie Mellon University), Juncheng Yang (Carnegie Mellon University), Sathya Gunasekar (Facebook), Jimmy Lu (Facebook), Daniel Berger (University of Washington/ Microsoft Research), Nathan Beckmann (Carnegie Mellon University), Gregory R. Ganger (Carnegie Mellon University)</p>
      <br/>

      <p><b>LineFS: Efficient SmartNIC Offload of a Distributed File System with Pipeline Parallelism</b></p>
      <p>Jongyul Kim (KAIST), Insu Jang (KAIST), Waleed Reda (Université catholique de Louvain / KTH Royal Institute of Technology), Jaeseong Im (KAIST), Marco Canini (KAUST), Dejan Kostić (KTH Royal Institute of Technology), Youngjin Kwon (KAIST), Simon Peter (University of Texas at Austin), Emmett Witchel (UT Austin)</p>
      <br/>

      <p><b>Using Lightweight Formal Methods to Validate a Key-Value Storage Node in Amazon S3</b></p>
      <p>James Bornholt (Amazon Web Services & The University of Texas at Austin), Rajeev Joshi (Amazon Web Services), Vytautas Astrauskas (ETH Zurich), Brendan Cully (Amazon Web Services), Bernhard Kragl (Amazon Web Services), Seth Markle (Amazon Web Services), Kyle Sauri (Amazon Web Services), Drew Schleit (Amazon Web Services), Grant Slatton (Amazon Web Services), Serdar Tasiran (Amazon Web Services), Jacob Van Geffen (University of Washington), Andrew Warfield (Amazon Web Services)</p>
      <br/>
    </div>

    <div>
      <h2>Distinguished Artifact Award</h2>

      <p><b>Rudra: Finding Memory Safety Bugs in Rust at the Ecosystem Scale</b></p>
      <p>Yechan Bae (Georgia Institute of Technology), Youngsuk Kim (Georgia Institute of Technology), Ammar Askar (Georgia Institute of Technology), Jungwon Lim (Georgia Institute of Technology), Taesoo Kim (Georgia Institute of Technology)</p>
      <br/>
    </div>

    <div>
      <h2>Student Research Competition</h2>

      <p>Oral Presentations will be held <span class="adjustabletime" begin="1635455700000" end="1635462900000">14:15 - 16:15 (UTC-07:00)</span> (Mirror 1) and <span class="adjustabletime" begin="1635488100000" end="1635495300000">23:15 - 01:15 (UTC-07:00)</span> (Mirror 2).</p>

      <h4>Undergraduate Finalists</h4>

      <ul>
        <li><b>Evaluating the Impact of Delayed Hits in Multi-Level Caches</b> • 
      Benjamin Carelton</li>
        <li><b>NetLynx: Delta Debugging Programmable Switch Systems</b> • 
      Andrew Huang</li>
        <li><b>Enabling Fast Recovery For Autonomous Vehicle Systems With Linux Container Checkpointing</b> • 
      Maximilian Apodaca</li>
      </ul>
      <br/>

      <h4>Graduate Finalists</h4>

      <ul>
        <li><b>Auto-Optimization of Distributed Coordination Protocols</b> • 
      David Chu</li>
        <li><b>Verifying Serializability With Version Order Recovery</b> • 
      Jack Clark</li>
        <li><b>Integrating Persistent Memory in a Deterministic Database</b> • 
      Yu Chen Wang</li>
      </ul>
      <br/>
      <br/>
    </div>

    <div>
      <h2>SIGOPS Dennis M. Ritchie Doctoral Dissertation Award</h2>

      <h4>Winner</h4>
      <p><b>Operating System and Network Co-design for Latency-critical Datacenter Applications</b><br/>
      Marios Kogias, EPFL<br/>
      Advisor: Edouard Bugnion</p>
      <br/>

      <h4>Honorable Mentions</h4>
      <p><b>Redesigning Persistent Key-Value Stores for Future Workloads, Hardware, and Performance Requirements</b><br/>
      Oana Balmau, The University of Sydney<br/>
      Advisor: Willy Zwaenepoel</p>

      <p><b>Fast Distributed Transaction Processing using RDMA and NVM</b><br/>
      Xingda Wei, Shanghai Jiao Tong University<br/>
      Advisors: Binyu Zang, Rong Chen, and Haibo Chen</p>
      <br/>
    </div>

    <div>
      <h2>SIGOPS Hall of Fame Award</h2>


      <p><b>Onix: A Distributed Control Platform for Large-scale Production Networks</b> (OSDI 2010)</p>
      <p>Teemu Koponen (Nicira Networks), Martin Casado (Nicira Networks), Natasha Gude (Nicira Networks), Jeremy Stribling (Nicira Networks), Leon Poutievski (Google), Min Zhu (Google), Rajiv Ramanathan (Google), Yuichiro Iwata (NEC), Hiroaki Inoue (NEC), Takayuki Hama (NEC), Scott Shenker (International Computer Science Institute (ICSI) & UC Berkeley)</p>
      <br/>
    </div>

    <div>
      <h2>Mark Weiser Award</h2>

      <p><b>Michael Freedman</b></p>
  </div>
</div>
{% endblock %}
