{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Call for Papers</h3>

    <div class="col-md-12 welcome-middle">
      <p>
        The 28th ACM Symposium on Operating Systems Principles (SOSP)
        seeks to present exciting, innovative research related to the design,
        implementation, analysis, evaluation, and deployment of computer systems
        software.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Topics</h5>
      <p>
        SOSP takes a broad view of the systems area and solicits contributions
        from many fields of systems practice, including, but not limited to,
        operating systems, file and storage systems, distributed systems, cloud
        computing, mobile systems, secure and reliable systems, systems aspects
        of big data and machine learning, embedded systems, virtualization,
        and management and troubleshooting of complex systems.  We also welcome
        work that explores the interaction with related areas such as computer
        architecture, networking, programming languages, verification, and
        databases.  In keeping with SOSP tradition, we will favor work that
        explores new territory, continues a significant research dialogue,
        or reflects on experience with or measurements of state of the art
        implementations.
      </p>
    </div>

    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Submission Criteria</h5>
      <p>
        Papers will be judged on novelty, significance, interest, clarity,
        relevance, and correctness. A good paper will:

        <ul>
          <li>Motivate a significant problem;</li>
          <li>Propose and implement an interesting, compelling solution;</li>
          <li>Demonstrate the practicality and benefits of the solution;</li>
          <li>Draw appropriate conclusions;</li>
          <li>Clearly describe the paper's contributions; and</li>
          <li>Clearly articulate the advances beyond previous work.</li>
        </ul>
      </p>

      <p>
        We encourage submission of groundbreaking work in significant new
        directions, with the understanding that evaluation criteria for papers
        addressing new problems may be different from those continuing a line
        of work in a more established area. 
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Originality</h5>
      <p>
        Submissions should contain original, unpublished material.  Simultaneous
        submission of the same work to multiple venues, submission of previously
        published work, or plagiarism is not allowed.
      </p>
      <p>
        Submissions that extend the authors' previous work are welcome, but
        authors must explain the differences between the SOSP submission and
        the prior work, much in the same way as the authors are expected to
        articulate the contributions of their submission as they relate to prior
        work by others.
      </p>
      <p>  
        Prior or concurrent workshop publication does not preclude publishing a
        related paper in SOSP.  Authors should email the program co-chairs a copy
        of the related workshop paper and a short explanation of the new material
        in the conference paper beyond that published in the workshop version.
        The co-chairs may then share that paper with the workshop’s organizers
        and discuss it with them.  As long as there is significant additional
        content in the submission compared to the prior workshop publication,
        the PC will evaluate the submission's entire contribution, not just
        the delta.
      </p>
      <p>        
        Prior or concurrent publication in non-peer-reviewed contexts, like
        arXiv.org, technical reports, talks, and social media posts, is explicitly
        permitted.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Revised submissions</h5>
      <p>
        To provide a degree of continuity in the reviewing process, submissions
        that were previously reviewed by the OSDI 2021 program committee
        must grant the SOSP reviewers access to these earlier reviews and the
        associated PC discussion comments.  One of the PC members that discussed
        your submission to OSDI 2021 may be invited to join the discussion of
        your revised submission to SOSP.  When uploading your OSDI 2021 reviews
        for your submission to SOSP, you can optionally append a note about how
        you addressed the reviews and comments.
      </p>
      <p>
        If in doubt about whether your submission to OSDI 2021 and your upcoming
        submission to SOSP are the same paper or not, please contact the PC
        chairs by email.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Author Response Period</h5>
      <p>
      SOSP will provide an opportunity for authors to respond to reviews prior 
      to final consideration of the papers at the program committee meeting. 
      Authors must limit their responses to (a) correcting factual errors in 
      the reviews or (b) directly addressing questions posed by reviewers. 
      Responses should be limited to clarifying the submitted work. In 
      particular, responses must not include new experiments or data, describe 
      additional work completed since submission, or promise additional work to 
      follow.
      </p>
      <p>
      Submission of a response is optional. There is no explicit limit to the 
      response, but authors are strongly encouraged to keep it under 500 words; 
      reviewers are neither required nor expected to read excessively long 
      rebuttals.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Anonymity</h5>
      <p>
        SOSP will use double-blind reviewing.  Please make a good faith
        attempt to anonymize your submission.  Avoid identifying yourself
        or your institution explicitly or by implication (e.g., through the
        references or acknowledgments).  The first page should use the paper
        ID assigned during registration in place of the author names.  If the
        name of your project or system is already known to the community (e.g.,
        through technical reports, talks, social media posts, or other use),
        your SOSP submission must use an anonymized name.
      </p>

      <p>
        Use care in referring to your own related work.  Do not omit references
        to your prior work, as this would make it difficult for reviewers to place
        your submission in its proper context.  Instead, reference your past work
        in the third person, just as you would any other piece of related work.
        For example, you might say "Our system modifies the XYZ operating system
        built by Lee et al. [Lee17]".  For concurrent submissions, cite an
        anonymized version of the concurrent submission and discuss the relation
        between the submissions, and email the PC chairs a copy of your other
        concurrent submission.
      </p>

      <p>
        If your submission reports on experiences with a system at your
        institution or organization, you should refer to the system anonymously
        but describe the properties of the system that are needed to appreciate
        the work (e.g., size of the user base, volume of requests, etc.).
        We recognize that, in some cases, these properties may allow a reviewer
        to identify your institution or organization.
      </p>
      <p>
        Check with the program chairs if you are uncertain about the anonymity
        rules.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Formatting</h5>

      <p>Papers will be submitted electronically in PDF format via the <a href="https://sosp21.hotcrp.com/">web submission form</a>.</p>

      <p> Submissions may have at most 12 pages of technical content, including all text, figures, tables, etc. Bibliographic references are not included in the 12-page limit. Use A4 or US letter paper size, with all text and figures fitting inside a 178 x 229 mm (7 x 9 in) block centered on the page, using two columns separated by 8 mm (0.33) of whitespace. Use 10-point font (typeface Times Roman, Linux Libertine, etc.) on 12-point (single-spaced) leading. Graphs and figures should be readable when printed in grayscale, without magnification. All pages should be numbered and references within the paper should be hyperlinked. 
      </p>
      
      <p>
        Authors may optionally include supplementary material, such as formal
        proofs or analyses, in their submission in an appendix.  The appendix
        is intended for material that's not critical for evaluating the paper,
        but may be of interest to some of the readers.  The appendix must
        follow the 12 pages of technical content and the bibliographic references.
        The PC members are not required to read the supplementary material,
        so the submission must stand alone without it.
      </p>
      
      <p>
        Submissions violating these rules will not be considered for publication,
        and there will be no extensions for fixing violations. We encourage you
        to upload an early draft of the paper well before the deadline to check
        if the paper meets the formatting rules.
      </p>

      <p>
      Most of these rules are automatically applied when using the
      <a href="https://www.acm.org/publications/authors/submissions">
	  official SIGPLAN Latex or MS Word templates from the ACM</a>.
      <p>

      <p>
      For Latex, we recommend you use:
{% highlight 'latex' %}
\documentclass[sigplan,10pt]{acmart}
\renewcommand\footnotetextcopyrightpermission[1]{}
...
\settopmatter{printfolios=true}
\maketitle
\pagestyle{plain}
...
{% endhighlight %}
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Confidentiality</h5>
      <p>
        Reviewing will be done mostly by members of the program committee,
        with limited use of outside reviewers. Submissions will be treated as
        confidential; however, papers accompanied by nondisclosure agreement
        forms will not be considered for publication.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Conflicts</h5>
      <p>
        To avoid conflicts of interest in the review process, when
        you register and submit your paper, we ask that you provide
        information about conflicts between any of the authors of your
        submission and PC members.  Use the following guidelines to
        determine conflicts:
      </p>

      <p>
        <b>Institutional:</b>  You are currently employed at the same
        institution, have been previously employed at the same institution
        within the past two years, or are going to begin employment at
        the same institution.
      </p>

      <p>
        <b>Advisor or Collaborator:</b>  You have a past or present
        association as Ph.D. thesis advisor or advisee, or you have
        a collaboration on a project, publication, grant proposal,
        or editorship within the past two years (2019 or later).
      </p>

      <p>
        The PC may review paper conflicts to ensure the integrity of the
        reviewing process, adding conflicts if necessary. Similarly,
        if there is no basis for conflicts provided by authors, such
        conflicts may be removed (e.g., do not improperly identify PC
        members as a conflict in an attempt to avoid having an individual
        review your paper).  If you have any questions about conflicts,
        please contact the program co-chairs.
      </p>

      <p>
        PC members will not be able to review, read the reviews of,
        or participate in discussions of papers they are conflicted
        with.  The review process for papers conflicted with both PC
        chairs will be managed by another PC member designated as the
        "conflict chair".  For any papers co-authored by the PC chairs,
        the conflict chair will be asked to hold them to a higher standard
        of being a "clear accept".
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Accepted Papers</h5>
      <p>
        Papers selected by the program committee will be subject to revision and
        approval by a program committee member acting as a shepherd.  Authors of
        accepted papers will be expected to supply electronic versions of their
        papers and encouraged to supply source code and raw data to help others
        replicate and understand their results, as part of an artifact evaluation
        process.

        To facilitate broad technical discussion, all accepted papers will be
        made available online in advance of the conference.

        Papers of particular merit will be forwarded to the ACM Transactions
        on Computer Systems (TOCS) and the Communications of the ACM's Research
        Highlights (CACM RH) for possible publication.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Submission Information</h5>
      <p>
        Papers must be submitted electronically in PDF format via the <a href="https://sosp21.hotcrp.com/">web submission form</a>
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Questions</h5>
      <p>
      Any questions about paper submissions can be emailed to
      <a href="mailto:sosp21-pc-chairs@mpi-sws.org">sosp21-pc-chairs@mpi-sws.org</a>.
      </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
