{# vim: ts=2:sw=2:expandtab #}
<div class="important-dates">
  <h5 class="left-h">Important Dates</h5>
  <table align="left">
    <tr>
      <th>Event Info</th>
      <th>Date</th>
    </tr>
    <tr class="elapsed">
      <td>Abstract Submission</td>
      <td>August 7, 2021 (<i>previously July 30</i>)</td>
    </tr>
    <tr>
      <td>Notification</td>
      <td>September 20, 2021 (<i>previously September 7</i>)</td>
    </tr>
  </table>
</div>
<div class="clearfix"></div>
