{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
	<h3>Call For Student Research Competition</h3>

	{% include "cfsrc_dates.html" %}

 	<h5 style="padding-top:20px">ACM Student Research Competition @ SOSP 2021</h5>
	<p>
	In 2021, SOSP will host its third <a href="http://src.acm.org/">ACM 
	    Student Research Competition (SRC)</a>, sponsored by ACM and
	<a href="http://research.microsoft.com/en-us/">Microsoft Research</a>.  
	This competition offers undergraduate and graduate students a unique 
	forum to experience the research world, present their research results 
	to conference attendees, and compete for prizes.
	</p>

	<p>The ACM SRC at SOSP 2021 consists of three parts: (1) research abstract submission; (2) poster presentation; (3) a research talk. The first-place winners of the competition will be invited to participate in the ACM Student Research Competition Grand Finals.     
	</p>

	<p>Participate in this exciting competition! Submit your work to the ACM Student Research Competition at SOSP 2021.</p>

	<h5>How to Participate:</h5>

	<h5>First Round Competition: Submit a Research Abstract</h5>
	<p>
	The submission site is:
  <a href="https://sosp21src.hotcrp.com/">https://sosp21src.hotcrp.com/</a>
	</p>

	<p>To participate in the competition, submit a research abstract (max 800 words) related to the main themes of the conference (see the SOSP'21 <a href="cfp.html">Call for Papers</a> for a list of conference topics). The submission should describe: the research problem and motivation, background and related work, approach and uniqueness, results, and contributions. Abstracts will be judged based on how well they cover these aspects of the work. </p>

	<p>Research abstract submissions should contain original, unpublished material that is not under review at any other archival forum, including journals, conferences, and workshops with copyrighted proceedings. If the work is accepted by a conference or journal by the time of SRC submission deadline (but not yet published), you should not submit it to SRC unless the SRC submission contains sufficient new material.</p>

	<p>We will use double-blind reviewing. Please make a good faith attempt to anonymize your submission. Avoid identifying yourself or your institution explicitly or by implication (e.g., through the references or acknowledgments). <b>The first page should indicate whether it is undergraduate or graduate category in place of the author names.</b></p>

<p>The research abstract must conform at the time of submission to the SOSP 2021 Submission Rules regarding Anonymity, Originality, and Formatting (see the SOSP'21 <a href="cfp.html">Call for Papers</a>), and must not exceed 800 words, including all text, appendices, and figures. Bibliographic references do not count against the word limit. All submissions must be in English. Submissions must be in PDF format. </p>

<p>Abstracts must be submitted electronically by August 7th, 2021 (<i>previously July 30</i>). A panel of experts will review the submissions and select the students to participate in the online stage of the Student Research Competition, which will be held at SOSP 2021.
</p>

	<h5>Second Round Competition: Present a Poster</h5>

<p>The second round of the competition will take place in a virtual poster session at SOSP 2021 (most likely using Gather). This is your opportunity to present your research to conference attendees and leading experts in the systems software fields, including the SRC committee.     </p>

<p>Judges will review the posters and speak to participants about their research. The judges will evaluate the research (quality, novelty, and significance) and the presentation of the research (poster, discussion) and select students to advance to the final round of the competition.     
</p>

	<h5>Final Round Competition: Give a Presentation</h5>

<p>Select students will continue by giving a short presentation of their research before a panel of judges and other attendees in a special session at the SOSP 2021 conference. After each presentation, there will be a short question and answer session.     
</p>

<p>Evaluations are based on the presenter’s knowledge of his/her research     area, the contribution of the research, and the quality of the oral and  visual presentation. At most three winners will be chosen in each category, undergraduate and graduate, and receive prizes. 
</p>

	<h5>The SRC Grand Finals</h5>
	<p>The first-place winner in each category (undergraduate and graduate) from the SRC held at SOSP 2021 will advance to the SRC Grand Finals. A different panel of judges evaluates the winners of all SRCs held during the calendar year against each other via the web. Three undergraduates and three graduates will be chosen as the SRC Grand Finals winners. They are invited, along with their advisors, to the annual ACM Awards Banquet, where they receive formal recognition.     
</p>

	<h5>Prizes</h5>
	<p>
The top three winners in each category (undergraduate and graduate) will be recognized during the conference and will receive prizes of US$500, US$300, and US$200, respectively.
	</p>

	<h5>Requirements</h5>
	<ol>
	  <li>Participants must be undergraduate or graduate students pursuing 
	      an academic degree at the time of initial submission.</li>
	  <li>Participants must be current student members of the ACM, and must 
	      provide their ACM member number.</li>
	  <li>Team projects will be accepted from Undergraduate students. One person should be designated by the team to (virtually) attend the conference and make the oral presentation.</li>
	  <li>Only individual research is accepted from Graduate (Masters or PhD program) students; group research projects will not be considered. If you are part of a group research project and want to participate in an SRC, you can only present your part of the      research. You must submit a single-authored version of your work. If your abstract is selected, only you will receive the travel stipend and monetary award (should you win).</li>
	  <li>Supervisors of the work may not be listed as co-authors.</li>
	  <li>Students may only participate in one SRC per program year (April 1 - March 31). Students that have applied to an SRC, but have not been accepted, may respond to other SRC calls for participation during the program year.
</li>
	</ol>

	<p>
	<b>Important:</b> The student author of the accepted abstract must register and present the work at SOSP 2021. The accepted abstracts will be published on the SIGOPS website.     
	</p>

	<h5>For More Information</h5>
	<p>
	For additional information, visit the official
	<a href="http://src.acm.org/">ACM Student Research Competition 
	    website</a>.  For questions, please contact the co-chairs.

	<h5>Frequently Asked Questions</h5>
	<p>
	<b>Q: I am a PhD student. Am I eligible to participate in the SRC?</b>
	<br/>
	Yes. As a PhD student, you will compete in the Graduate category of the 
	competition.
	</p>

	<p>
	<b>Q: What should I write in my research abstract?</b>
	<br/>
	A submission to the competition should describe recently completed or 
	ongoing student research related to the topics covered by SOSP. It is 
	important that your research abstract discusses (1) research problem 
	and motivation, (2) background and related work, (3) approach and 
	uniqueness, and (4) results and contributions. The committee will 
	assess your research abstract along these dimensions.
	</p>

	<p>
	<b>Q: What criteria will the judges use to evaluate the 
	    abstract/research?</b>
	<br/>
	The judges will assess research abstracts based on four criteria:     Problem and motivation (5 points); Background and related work (5 points); Approach and uniqueness (10 points); and Results and contribution (10 points). For the poster presentation, the criteria are:     Oral presentation (10 points), Visual presentation (10 points), Research methods (15 points), and Significance of contribution (10 points). For the conference oral presentation, the criteria are     Knowledge of research area (15 points), Contribution of research (10 points), and Presentation (10 points).     
	</p>

	<p>
	<b>Q: Will the participants also qualify for a registration waiver?</b>
	<br/>
	Registration to the SOSP’21 SRC is free.
	</p>

	<p>
	<b>Q: My research is not related to systems software or any of the main themes of the SOSP conference. Can I still participate in the  Student Research Competition?</b>
	<br/>
	Yes, but not at SOSP. Participate in a SRC at a conference that is related to your research. To participate in the competition at SOSP, your research needs to be related to the main themes of the SOSP conference (see the topics for <a href="cfp.html">SOSP 2021</a>). If your research is not among the topics relevant for SOSP, please check the <a href="https://src.acm.org/submissions">list of current SRC calls</a> to find a conference that is better related. If you don’t find a conference that covers your research, you can participate in the SRC competition at the SIGCSE conference.
	</p>

	<h5>Sponsor</h5>
	<a href="https://research.microsoft.com/">
	  <img src="logos/microsoft.png"/>
	</a>

	<h5>Organizers</h5>
	<p>
	<b>PC co-chairs:</b> Baris Kasikci (University of Michigan), Aurojit Panda (New York University)
  </p>
  <p>
  <b>SOSP Student Research Committee:</b><br/>
  Shivaram Venkatraman <br/>
Amy Ousterhout <br/>
Jonathan Mace <br/>
Antoine Kaufmann <br/>
Barath Raghavan <br/>
Sangeetha Abdu Jyothi <br/>
Shoumik Palkar <br/>
Theo Benson <br/>
Daniel Berger<br/>
	</p>
    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
