{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
  <div class="col-md-12 welcome-middle">
    <h2>Code of Conduct</h2>

    <p>
The open exchange of ideas and the freedom of thought and expression are central to the aims and goals of SIGOPS; these require an environment that recognizes the inherent worth of every person and group, that fosters dignity, understanding, and mutual respect, and that embraces diversity. For these reasons, SIGOPS is dedicated to providing a harassment-free conference experience, and abides by the <a href="https://www.acm.org/about-acm/policy-against-harassment">ACM Policy Against Discrimination and Harassment</a>. 
    </p>

    <p>
Conference participants violating these standards may be sanctioned or expelled from the conference without a refund, at the discretion of the conference organizers. If you are the target of inappropriate behavior or remarks, please report it to a conference organizer or discuss with one of the <a href="https://www.sigops.org/cares/">SIGOPS CARES representatives</a>. Conference organizers are requested to report incidents to the SIGOPS Chair.
    </p>
    <div class="clearfix"> </div>
  </div>
  </div>
{% endblock %}
