{# vim: ts=2:sw=2:expandtab #}
<div class="welcome-middle important-dates col-md-12">
  <h5 class="left-h">Important Dates</h5>
  <table class="important-dates" align="left">

    <tr>
      <th>Event Info</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <tr class="emptyTableRow"><td colspan="3"></td></tr>

    <style>
      .important-dates table tr.elapsed td {
        color: #aaa;
      }
      .important-dates table tr.elapsed {
        text-decoration: line-through #AAA solid 2px;
      }
    </style>
    {% if showGeneral %}
    <tr class="elapsed">
      <td>Deadline to Register Abstracts</td>
      <td>April 30, 2021 (2:59 PM US/Pacific) </td>
      <td><a href="https://sosp21.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr class="elapsed">
      <td>Submission Deadline (No extensions)</td>
      <td>May 7, 2021 (2:59 PM US/Pacific)</td>
      <td><a href="https://sosp21.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr class="elapsed">
      <td>Reviews available for author response</td>
      <td>July 20, 2021</td>
      <td></td>
    </tr>
    <tr class="elapsed">
      <td>Author Response due</td>
      <td>July 23, 2021 (2:59 PM US/Pacific)</td>
      <td></td>
    </tr>
    <tr class="elapsed">
      <td>Acceptance Notification</td>
      <td>August 9, 2021</td>
      <td></td>
    </tr>
    <tr class="elapsed">
      <td>Artifact intent registration</td>
      <td>August 13, 2021</td>
      <td>See <a href="https://sysartifacts.github.io/sosp2021/">sysartifacts</a> for details.</td>
    </tr>
    <tr class="elapsed">
      <td>Artifact Submission</td>
      <td>August 20, 2021</td>
      <td></td>
    </tr>
    <tr>
      <td><b>Camera Ready due</b></td>
      <td>September 27, 2021</td>
      <td></td>
    </tr>
    <tr class="emptyTableRow"><td colspan="3"></td></tr>
    {% endif %}

    {% if showWorkshops %}
    <!--<tr class="redStrike"></tr>-->
    <!--<tr class="elapsed"></tr>-->
    <tr class="elapsed">
      <td>Workshop Proposals Due</td>
      <td>April 30, 2021 (2:59 PM US/Pacific)</td>
      <td><a href="/cfw.html">Call For Workshops</a></td>
    </tr>
    <tr class="elapsed">
      <td>Workshop Notification of Acceptance</td>
      <td>May 3, 2021</td>
      <td></td>
    </tr>
    <tr class="elapsed">
      <td>Workshop Call For Papers Due</td>
      <td>May 6, 2021 (2:59 PM US/Pacific)</td>
      <td></td>
    </tr>
    <tr class="elapsed">
      <td>AE Committee Self-Nominations Due</td>
      <td>August 6, 2021</td>
      <td><a href="https://sysartifacts.github.io/sosp2021/organizers.html#call-for-self-nominations">See Artifact Evaluation</a></td>
    </tr>
    <tr class="elapsed">
      <td>Student Research Competition Abstracts Due</td>
      <td>August 7, 2021 (<i>previously July 30</i>)</td>
      <td><a href="/cfsrc.html">Student Research Competition</a></td>
    </tr>
    <tr class="elapsed">
      <td>PLOS Submission Deadline</td>
      <td>August 6, 2021</td>
      <td><a href="/workshops.php">Workshops</a></td>
    </tr>
    <tr class="elapsed">
      <td>ResilientFL Submission Deadline</td>
      <td>August 24, 2021</td>
      <td><a href="/workshops.php">Workshops</a></td>
    </tr>
    <tr class="emptyTableRow"><td colspan="3"></td></tr>
    {% endif %}
    <!--
    <tr class="redStrike">
      <td>Early Registration</td>
      <td>September 15, 2019</td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    <tr class="redStrike">
      <td><b>Hotel Booking Deadline</b></td>
      <td>Updated: October 6, 2019</td>
      <td>Call Hotel 1-800-461-4393</td>
    </tr>
    <tr class="redStrike">
      <td><b>Regular Registration</b></td>
      <td>October 15, 2019</td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    <tr>
      <td><b>Late Registration</b></td>
      <td></td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    -->
    <tr>
      <td><b>Workshops Date</td>
      <td>October 25, 2021</td>
      <td></td>
    </tr>
    <tr>
      <td><b>Conference Dates</b></td>
      <td>October 26-29, 2021</td>
      <td></td>
    </tr> 
  </table> 
</div>
