{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}


{% block content %}
<div class="main-text">
  <style>
  .diversityworkshop {font-size:16px;}
  .diversityworkshop p    {margin-bottom: 1em; line-height:  1.5;}
  .diversityworkshop ul    { list-style: disc inside none; }
  .breakoutroom { padding-bottom: 20px; }
  </style>
  <div class="diversityworkshop">
    <h3>SOSP 2021 Diversity Workshop</h3>

    <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <div style="text-align:justify; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400;">
      <p>
        The Diversity Workshop 2021 (October 25th 2021) seeks to foster community amongst traditionally underrepresented groups in Systems research. In addition to registering on the SOSP website, please also fill out <a href="https://forms.gle/AKRYFaGrCq6FWpzx8"><b>this form</b></a> indicating your interest. Everyone is welcome but we will give preference to researchers who traditionally self-identity as underrepresented.  
      </p>

      <p>
        For any questions, please reach out to <a href="mailto:ncrooks@berkeley.edu">Natacha Crooks</a> or <a href="mailto:taiam@vmware.com">Amy Tai</a>.        
      </p>
        </div>
      </div>

    <div class="col-md-12">
    <h2 class="left-h">Monday, October 25, 2021</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="info">
        <td>
          <strong>Welcome </strong>
          <span class="pull-right">
            <i>06:50 - 07:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td>
        <ul>
          <li>Natacha Crooks, <i>UC Berkeley</i></li>
          <li>Amy Tai, <i>VMWare Research</i></li>
        </ul>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info">
        <td>
          <strong>Ask Me Anything</strong>
          <span class="pull-right">
            <i>07:00 - 08:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td>AMA participants will have the opportunity to ask the panelists questions on any academic related topic. Questions will be asked on Zoom and answered live.</td></tr>
      <tr><td>
        <ul>
          <li>Remzi Arpaci-Dusseau, <i>University of Wisconsin, Madison</i></li>
          <li>Kim Keeton, <i>Google</i></li>
          <li><u>Moderator:</u> Redha Gouicem, <i>TU Munich</i></li>
        </ul>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info">
        <td>
          <strong>Elevator Pitch</strong>
          <span class="pull-right">
            <i>08:00 - 09:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td>Following a brief presentation, students will be split into breakout groups and have the opportunity to practice their elevator pitch. A friendly competition with prizes (kindly sponsored by Google) will follow.</td></tr>
      <tr><td>
        <ul>
          <li>John Wilkes, <i>Google</i></li>
        </ul>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>Break (15 minutes)</strong>
          <span class="pull-right">
            <i>09:00 - 09:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="info">
        <td>
          <strong>Topic Breakout Rooms</strong>
          <span class="pull-right">
            <i>09:15 - 10:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td>Participants will have the opportunity to choose a topic-specific breakout room. Each breakout room will be moderated by two experts in the field. Please come prepared to discuss your research or ask questions. </td></tr>
      <tr class="breakoutroom"><td>
        <b>Consensus/Blockchain/Distributed Systems/Serverless</b>
        <ul>
          <li>Marcos Aguilera, <i>VMWare Research</i></li>
          <li>Naama BenDavid, <i>VMWare Research</i></li>
        </ul>
      </td></tr>
      <tr class="breakoutroom"><td>
        <b>OS + Emerging Hardware (RDMA, Pmem, smartNICs)</b>
        <ul>
          <li>Alain Tchana, <i>ENS Lyon</i></li>
          <li>Jing Liu, <i>University of Wisconsin, Madison</i></li>
        </ul>
      </td></tr>
      <tr class="breakoutroom"><td>
        <b>ML + Systems</b>
        <ul>
          <li>Joey Gonzalez, <i>UC Berkeley</i></li>
          <li>Jayashree Mohan, <i>Microsoft Research India</i></li>
        </ul>
      </td></tr>
      <tr class="breakoutroom"><td>
        <b>System Security</b>
        <ul>
          <li>Fraser Brown, <i>CMU</i></li>
        </ul>
      </td></tr>
      <tr class="breakoutroom"><td>
        <b>Verification</b>
        <ul>
          <li>Manos Kapritsos, <i>University of Michigan</i></li>
          <li>Jialin Li, <i>University of Washington</i></li>
        </ul>
      </td></tr>
      <tr class="breakoutroom"><td>
        <b>Networking</b>
        <ul>
          <li>Vibhaa Sivaraman, <i>MIT</i></li>
          <li>Theophilus Benson, <i>Brown University</i></li>
        </ul>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>Break (15 minutes)</strong>
          <span class="pull-right">
            <i>10:15 - 10:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="info">
        <td>
          <strong>Mid-Career AMA</strong>
          <span class="pull-right">
            <i>10:30 - 11:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td>AMA participants will have the opportunity to ask the panelists questions on any academic related topic. Questions will be asked on Zoom and answered live.</td></tr>
      <tr><td>
        <ul>
          <li>Jana Giveca, <i>TU Munich</i></li>
          <li>Riad Wahby, <i>CMU</i></li>
          <li>Radhika Mittal, <i>UIUC</i></li>
          <li>Irene Zhang, <i>Microsoft Research Redmond</i></li>
          <li><u>Moderator:</u> Stella Bitchebe, <i>ENS Lyon</i></li>
        </ul>
      </td></tr>
      <tr><td></td></tr>
    </table>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
