{# vim: ts=1:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">

    <div class="col-md-12 welcome-middle">
      <h3>Welcome to the SOSP 2021 Website</h3>
    </div>

    <div class="col-md-12 welcome-middle">
      <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <p>
        The biennial ACM Symposium on Operating Systems Principles is the world's
        premier forum for researchers, developers, programmers, and teachers of computer
        systems technology. Academic and industrial participants present research and
        experience papers that cover the full range of theory and practice of computer
        systems software.
        </p>
        <style>
        .frontpage-button {
          margin: 20px 0;
        }
        .frontpage-button a {
          border: 2px solid #337ab7;
          color: #337ab7;
          padding: 8px 30px;
          border-radius: 20px;
        }
        .frontpage-button a:hover {
          text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
          -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,1);
          -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,1);
          color: #23527c;
          border:  2px solid #23527c;
        }
        </style>

        <div style="text-align:center; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400; font-size: 16pt; text-decoration: underline"><div class="col-md-6 frontpage-button"><a href="program.html">Program</a></div><div class="col-md-6 frontpage-button"><a href="reg.html">Registration</a></div>
    <div class="clearfix"> </div></div>
      </div>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5>News</h5>     
      <ul>
        <li>October 12th, 2021: Sign-up for the SOSP Mentoring Scheme is now live!  Sign up as a mentor or mentee <a href="mentoring.html">here</a>.</li>
        <li>October 12th, 2021: Registration for the Diversity workshop is live!  See <a href="diversity.html">here</a> for details.</li>
        <li>September 27th, 2021: Conference registration is live!  See <a href="reg.html">here</a> for details.</li>
        <li>September 26th, 2021: SOSP Program is announced!  See <a href="program.html">here</a> for details.</li>
        <li>30th April, 2021: SOSP 2021 is going virtual. Please see <a href="virtual.html">this announcement</a> for details about the change in format.</li>
        <!--<li>July 21st, 2021: Want to join the Artifact Evaluation Committee?  Nominate yourself <a href="https://sysartifacts.github.io/sosp2021/organizers.html#call-for-self-nominations">here</a>!  Deadline <b>August 6th</b>.</li>-->
        <!--<li>July 21st, 2021: Artifact Evaluation details have been announced.  See the <a href="https://sysartifacts.github.io/sosp2021/">sysartifacts</a> site for details.</li>-->
        <!--<li>May 28th, 2021: <a href="https://plos-workshop.org/2021">PLOS 2021</a> workshop announced</li>-->
        <!--<li>May 28th, 2021: <a href="https://resilientfl.org/">ResilientFL 2021</a> workshop announced</li>-->
        <!--<li>April 5th, 2021: Call for Workshops announced</li>-->
        <!--<li>March 19th, 2021: <a href="http://sosp2021.mpi-sws.org/cfsrc.html">Student Research Competition</a> announced.  Abstracts due <b>August 7th</b>.</li>-->
        <!--<li>January 5th, 2021: Call for Papers announced</li>-->
      </ul>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any organizational questions about the conference can be emailed to 
      <a href="mailto:sosp21-chairs@mpi-sws.org">sosp21-chairs@mpi-sws.org</a>.
      The program committee chairs can be reached at <a href="mailto:sosp21-pc-chairs@mpi-sws.org">sosp21-pc-chairs@mpi-sws.org</a>.
    </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
