{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12">
      <h3>Mentoring</h3>

      <p>The SOSP mentoring scheme is designed to give student attendees a chance to get to know a few other people at the conference, and a chance to receive feedback on their research and other advice from a senior member of the community.
      </p>

      <p>We will match PhD students to faculty members, postdoctoral research associates, and researchers in their research area of interest. </p>

      <p>The mentors will be responsible for meeting with their mentees before the conference in a small group (2–3 mentees and the mentor) via Zoom or another video conferencing system, and may follow up with another check-in meeting during the conference.</p>

      <p>We are very grateful for your help in contributing to make SOSP an inclusive and welcoming community. </p>

      <p>Sign Up (deadline October 20th):
        <ul>
          <li><b>Mentor Sign-Up:</b> <a href="https://tinyurl.com/sosp21mentors">https://tinyurl.com/sosp21mentors</a></li>
          <li><b>Mentee Sign-Up:</b> <a href="https://tinyurl.com/sosp21mentees">https://tinyurl.com/sosp21mentees</a></li>
        </ul>
      </p>

      <p>Please contact <a href="https://arquinn.github.io/">Andrew Quinn</a>, <a href="https://jwyoung1818.github.io/">Junwen Yang</a>, or <a href="http://yonglezh.com/">Yongle Zhang</a> with any questions. The deadline for signing up is <b>October 20th</b>. We expect to email mentors and mentees with their match(es) a few days before the conference.</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
