{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
    <h2>28th ACM Symposium on Operating Systems Principles Organizers</h2>
     
    
    <table id=organizers >
      <tr>
        <td class=organizers-office> General Chairs</td>
        <td class=organizers-bearer> <a href="https://www.cs.utexas.edu/~vijay/">Vijay Chidambaram</a>, The University of Texas at Austin and VMware Research</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="http://bnrg.cs.berkeley.edu/~adj/">Anthony D. Joseph</a>, University of California, Berkeley</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>      
      <tr>
        <td class=organizers-office> Virtual Platform Chairs</td>
        <td class=organizers-bearer> <a href="https://www.cs.utexas.edu/~vijay/">Vijay Chidambaram</a>, The University of Texas at Austin and VMware Research</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://www.comp.nus.edu.sg/~lijl/">Jialin Li</a>, National University of Singapore (NUS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://tianyin.github.io/">Tianyin Xu</a>, University of Illinois at Urbana-Champaign</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> PC Chairs</td>
        <td class=organizers-bearer> <a href="https://www.cs.cornell.edu/home/rvr/">Robbert van Renesse</a>, Cornell University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://people.csail.mit.edu/nickolai/">Nickolai Zeldovich</a>, MIT</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Treasurers </td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~antoinek/">Antoine Kaufmann</a>, Max Planck Institute for Software Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="http://keonjang.github.io/">Keon Jang</a>, Rubrik</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Sponsorship Chairs </td>
        <td class=organizers-bearer> <a href="https://gernot-heiser.org/">Gernot Heiser</a>, UNSW Sydney</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://pacman.cs.tsinghua.edu.cn/~cwg/">Wenguang Chen</a>, Tsinghua University</td>
      </tr>
      <tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Web Chair </td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~jcmace/">Jonathan Mace</a>, Max Planck Institute for Software Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Publicity Chairs </td>
        <td class=organizers-bearer> <a href="https://www.cs.purdue.edu/homes/pfonseca/">Pedro Fonseca </a>, Purdue University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://ipads.se.sjtu.edu.cn/pub/members/mingyu_wu">Mingyu Wu</a>, Shanghai Jiao Tong University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Poster Chairs </td>
        <td class=organizers-bearer> <a href="https://cs.brown.edu/people/malte/">Malte Schwarzkopf</a>, Brown University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://anakli.inf.ethz.ch/">Ana Klimovic</a>, ETH Zurich, Google Brain</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Proceedings Chair </td>
        <td class=organizers-bearer> <a href="https://www.gsd.inesc-id.pt/~rodrigo/">Rodrigo Rodrigues</a>,  Instituto Superior Técnico (IST - ULisboa), INESC-ID</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://www.gsd.inesc-id.pt/~lveiga/">Luis Antunes Veiga</a>,  Instituto Superior Técnico (IST - ULisboa), INESC-ID</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Workshop Chair </td>
	<td class=organizers-bearer> <a href="https://web.eecs.umich.edu/~manosk/">Manos Kapritsos</a>, University of Michigan</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Student Scholarship Chair </td>
        <td class=organizers-bearer> <a href="https://nacrooks.github.io/">Natacha Crooks</a>, UC Berkeley</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://www.cis.upenn.edu/~sga001/">Sebastian Angel</a>, University of Pennsylvania </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Student Research Competition </td>
	<td class=organizers-bearer> <a href="https://people.eecs.berkeley.edu/~apanda/">Aurojit Panda</a>, NYU</td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="https://web.eecs.umich.edu/~barisk/">Baris Kasikci</a>, University of Michigan </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Artifact Evaluation Co-Chairs </td>
	<td class=organizers-bearer> <a href="https://ricci.io/">Robert Ricci</a>, University of Utah</td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="https://ivotron.me/">Ivo Jimenez</a>, UC Santa Cruz </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="https://drkp.net/">Dan Ports</a>, Microsoft Research </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
    <tr>
      <td class=organizers-office>Registration Chair</td>
      <td class=organizers-bearer><a href="https://www.comp.nus.edu.sg/~lijl/">Jialin Li</a>, National University of Singapore (NUS)</td>
    </tr>
      <tr>
  <td class=organizers-office> &nbsp; </td>
  <td class=organizers-bearer> &nbsp; </td>
      </tr>
    {{ pcorganizers }}
  <td class=organizers-office> &nbsp; </td>
  <td class=organizers-bearer> &nbsp; </td>
      </tr>
    {{ volunteers }}
    </table> 
    <div class="clearfix"> </div>
  </div>
{% endblock %}
