{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}



{% block content %}
<div class="main-text">
  <style>
  .program {font-size:16px;}
  .program p    {margin-bottom: 1em; line-height:  1.5;}
  </style>
  <div class="program">
    <h3>SOSP 2021 Program</h3>

    <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <div style="text-align:justify; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400;">
      <p>
        <b>Logistics.</b>
      SOSP 21 will be conducted virtually. Content will be delivered through Zoom webinars and Slack will be used for discussion.  The poster session will happen in Gather town -- see <a href="https://www.youtube.com/watch?v=4VDd3zar_cc">this 2 minute video</a> for an explanation.
      </p>

      <p>
        <b>Mirrors.</b>
      SOSP 21 will run in a mirrored fashion.
The North America/Europe mirror (Mirror 1) will take place from 8 AM PDT to 5 PM PDT.
The Asia/Australia mirror (Mirror 2) will take place from 8 AM China Standard Time to 5 PM China Standard Time.</p>


<p>Videos will be played synchronously in both mirrors, and authors will be available to answer questions live during both mirrors. There will be different instances of the Ask Me Anything session and the Trivia session in each mirror, which will be conducted live. The business meeting will be conducted live at 8 AM PDT on Oct 27th. It will be recorded and played synchronously during the Asia/Australia mirror. </p>
        </div>
      </div>
    
    <!--<div class="col-md-12">
      <p align="center">
      <img class="icon-paper" src="images/icon-paper.png"></img> Paper PDF &nbsp;&nbsp;
      <img class="icon-slide" src="images/icon-slide.png"></img> Talk Slides &nbsp;&nbsp;
      <img class="icon-video" src="images/icon-video.png"></img> Talk Video &nbsp;&nbsp;
      </p>
      <p align="center">
      <a href="program.pdf"><img class="icon-paper" src="images/icon-paper.png"/> SOSP Program (PDF)</a>
      <a href="https://dl.acm.org/citation.cfm?id=3341301"><img class="icon-paper" src="images/icon-paper.png"/> Proceedings</a>
      </p>
    </div>
    -->
    <div class="col-md-12">

    <span class="pull-right">{% include "timezones.html" %}</span>
    <h2 class="left-h">Tuesday, October 26, 2021</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td>
          <strong>Opening Remarks and Best Paper Awards</strong>
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635260400000" end="1635262200000">08:00 - 08:30 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635292800000" end="1635294600000">17:00 - 17:30 (UTC-07:00)</i>
          </span>
          <br/>
          <i style="padding-left: 20px">See the <a href="awards.html">list of awards</a> for more information!</i>
        </td>
      </tr>
      <tr><td></td></tr>

      {{ session_1 }}
      {{ bbreak }}


      {{ session_2 }}
      {{ bbreak }}


      {{ session_3 }}
      {{ bbreak }}


      {{ session_4 }}
      {{ bbreak }}

      <tr class="success"><td>
          <strong>Poster Session</strong><br/>
          The poster session will happen in Gather.town -- see <a href="https://www.youtube.com/watch?v=4VDd3zar_cc">this 2 minute video</a> for a quick overview.
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635280200000" end="1635283800000">13:30 - 14:30 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635312600000" end="1635316200000">22:30 - 23:30 (UTC-07:00)</i>
          </span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Shan Lu (University of Chicago), <i>Moderator: Abutalib Aghayev (Pennsylvania State University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635283800000" end="1635285600000">14:30 - 15:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jason Nieh (Columbia University), <i>Moderator: Sudarsun Kannan (Rutgers University - New Brunswick)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635285600000" end="1635287400000">15:00 - 15:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Michael M. Swift (University of Wisconsin - Madison), <i>Moderator: Aastha Mehta (University of British Columbia)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635287400000" end="1635289200000">15:30 - 16:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jason Flinn (Facebook), <i>Moderator: Adriana Szekeres (VMware Research)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635289200000" end="1635291000000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success">
        <td style="padding-top: 20px">
          <strong>Meet the Sponsors (Mirror 1)</strong><br/>
          <i>Additional sponsor information can be found <a href="sponsor_sessions.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Google</b> • See the <b>#sponsors-google</b> channel on Slack for more information, or the <a href="flyers/google.pdf">Google Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635283800000" end="1635285600000">14:30 - 15:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Twitter</b> • See the <b>#sponsors-twitter</b> channel on Slack for more information, or the <a href="flyers/twitter.pdf">Twitter Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635285600000" end="1635287400000">15:00 - 15:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Exotanium</b> • See the <b>#sponsors-exotanium</b> channel on Slack for more information, or the <a href="flyers/exotanium.pdf">Exotanium Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635289200000" end="1635291000000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>VMware</b> • See the <b>#sponsors-vmware</b> channel on Slack for more information.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635291000000" end="1635292800000">16:30 - 17:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Amazon</b> • See the <b>#sponsors-amazon</b> channel on Slack for more information, or the <a href="flyers/amazon.pdf">Amazon Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635292800000" end="1635295500000">17:00 - 17:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
      
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Zheng Zhang (AWS Shanghai AI Lab), <i>Moderator: Mingyu Li (Shanghai Jiao Tong University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635316200000" end="1635318000000">23:30 - 00:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Xiaosong Ma (Hamad Bin Khalifa University), <i>Moderator: Cheng Li (University of Science and Technology of China)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635318000000" end="1635319800000">00:00 - 00:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Sorav Bansal (IIT Delhi), <i>Moderator: Arkaprava Basu (Indian Institute of Science)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635319800000" end="1635321600000">00:30 - 01:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Chuanxiong Guo (Bytedance AI Lab), <i>Moderator: Xin Jin (Peking University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635321600000" end="1635323400000">01:00 - 01:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success">
        <td style="padding-top: 20px">
          <strong>Meet the Sponsors (Mirror 2)</strong><br/>
          <i>Additional sponsor information can be found <a href="sponsor_sessions.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Huawei</b> • See the <b>#sponsors-huawei</b> channel on Slack for more information, or the <a href="flyers/huawei.pdf">Huawei Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635318000000" end="1635321600000">00:00 - 01:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    <h2 class="left-h">Wednesday, October 27, 2021</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td>
          <strong>Business Meeting</strong>
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635346800000" end="1635350400000">08:00 - 09:00 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635379200000" end="1635382800000">17:00 - 18:00 (UTC-07:00)</i>
          </span>
          <br/>
          <i style="padding-left: 20px">See the <a href="awards.html">list of awards</a> for more information!</i>
        </td>
      </tr>
      <tr><td></td></tr>

      {{ session_5 }}
      {{ bbreak }}


      {{ session_6 }}
      {{ bbreak }}


      {{ session_7 }}
      {{ bbreak }}


      {{ session_8 }}
      {{ bbreak }}


      {{ session_9 }}
      <tr><td></td></tr>


      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Ada Gavrilovska (Georgia Institute of Technology), <i>Moderator: Neeraja Yadwadkar (University of Texas at Austin and VMware Research)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635372900000" end="1635374700000">15:15 - 15:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Ion Stoica (University of California, Berkeley), <i>Moderator: Andrew R. Quinn (University of California, Santa Cruz)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635374700000" end="1635376500000">15:45 - 16:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Jon Howell (VMware Research), <i>Moderator: Kai Mast (University of Wisconsin - Madison)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635376500000" end="1635378300000">16:15 - 16:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success">
        <td style="padding-top: 20px">
          <strong>Meet the Sponsors (Mirror 1)</strong><br/>
          <i>Additional sponsor information can be found <a href="sponsor_sessions.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Ant Group</b> • See the <b>#sponsors-antgroup</b> channel on Slack for more information, or the <a href="flyers/ant.pdf">Ant Group Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635373800000" end="1635375600000">
              15:30 - 16:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Akamai</b> •  See the <b>#sponsors-akamai</b> channel on Slack for more information, or the <a href="flyers/akamai.pdf">Akamai Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635375600000" end="1635377400000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Microsoft</b> • See the <b>#sponsors-microsoft</b> channel on Slack for more information, or the <a href="flyers/microsoft.pdf">Microsoft Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635378300000" end="1635381000000">16:45 - 17:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success"><td>
          <strong>Hallway track in Gather.town</strong><br/>
          An informal hallway track  will happen in Gather.town -- see <a href="https://www.youtube.com/watch?v=4VDd3zar_cc">this 2 minute video</a> for a quick overview.
          <span class="pull-right">
            <b>See slack for link</b> <i class="adjustabletime" begin="1635379200000" end="1635382800000">19:00 - 20:00 (UTC-07:00)</i><br/>
      </td></tr>
      <tr><td></td></tr>
      
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Lidong Zhou (Microsoft Research Asia), <i>Moderator: Zhi Yang (Peking University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635407100000" end="1635408900000">00:45 - 01:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Haibo Chen (Shanghai Jiao Tong University), <i>Moderator: Yanyan Jiang (Nanjing University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635408900000" end="1635410700000">01:15 - 01:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

    </table>
    <h2 class="left-h">Thursday, October 28, 2021</h2>
    <table class="table table-spread" style="padding-left:auto;">

      {{ session_10 }}
      {{ bbreak }}


      {{ session_11 }}
      {{ bbreak }}


      {{ session_12 }}
      {{ bbreak }}


      {{ session_13 }}
      {{ bbreak }}


      {{ session_14 }}
      {{ bbreak }}

      <tr class="success"><td>
          <strong>Track A: Trivia</strong>
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635455700000" end="1635461100000">14:15 - 15:45 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635488100000" end="1635493500000">23:15 - 00:45 (UTC-07:00)</i>
          </span>
          <div><i>• See the <b>#trivia</b> channel on Slack for details.</i></div>
      </td></tr>
      <tr class="success"><td style="padding-top: 20px">
          <strong>Track B: Student Research Competition Presentations</strong>
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635455700000" end="1635462900000">14:15 - 16:15 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635488100000" end="1635495300000">23:15 - 01:15 (UTC-07:00)</i>
          </span>
      </td></tr>
      <tr><td></td></tr>

      
      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 1)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          David G. Andersen (Carnegie Mellon University), <i>Moderator: Oana Balmau (McGill University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635461100000" end="1635462900000">15:45 - 16:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Kimberly Keeton (Google), <i>Moderator: Jian Huang (University of Illinois at Urbana-Champaign)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635462900000" end="1635464700000">16:15 - 16:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success">
        <td style="padding-top: 20px">
          <strong>Meet the Sponsors (Mirror 1)</strong><br/>
          <i>Additional sponsor information can be found <a href="sponsor_sessions.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          <b>Facebook</b> • See the <b>#sponsors-facebook</b> channel on Slack for more information, or the <a href="flyers/facebook.pdf">Facebook Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635464700000" end="1635467400000">16:45 - 17:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success">
        <td>
          <strong>"Ask Me Anything" (Mirror 2)</strong><br/>
          <i>Additional AMA information can be found <a href="ama.html">here</a>.</i>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Willy Zwaenepoel (The University of Sydney), <i>Moderator: Jinyu Gu (Shanghai Jiao Tong University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635493500000" end="1635495300000">00:45 - 01:15 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr class="success ama">
        <td>
          Wenguang Chen (Tsinghua University), <i>Moderator: Youyou Lu (Tsinghua University)</i>
          <span class="pull-right">
            <i class="adjustabletime" begin="1635495300000" end="1635497100000">01:15 - 01:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    <h2 class="left-h">Friday, October 29, 2021</h2>
    <table class="table table-spread" style="padding-left:auto;">

      {{ session_15 }}
      {{ bbreak }}


      {{ session_16 }}
      {{ bbreak }}


      {{ session_17 }}
      {{ bbreak }}


      {{ session_18 }}
      {{ bbreak }}


      <tr class="success"><td>
          <strong>Closing Ceremony</strong>
          <span class="pull-right">
            <b>Mirror 1</b> <i class="adjustabletime" begin="1635537600000" end="1635538500000">13:00 - 13:15 (UTC-07:00)</i><br/>
            <b>Mirror 2</b> <i class="adjustabletime" begin="1635570000000" end="1635570900000">20:00 - 20:15 (UTC-07:00)</i>
          </span>
      </td></tr>
      <tr><td></td></tr>
    </table>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
