{% block content %}

<tr><td>
    <span class="pull-right">
      <i><span class="presentationtime" time="{{ t1 }}"></span> and <span class="presentationtime" time="{{ t2 }}"></span></i>
      <span style="padding: 0 2px !important;"></span> • 
      <a href="{{ url }}"><img class="icon-paper" src="images/icon-paper.png"></img> Paper</a>
      <!--<a href="{{ slides }}"><img class="icon-slide" src="images/icon-slide.png"></img></a>-->
      <span {{ hasvideo }}> • <a href="{{ video }}"><img class="icon-video" src="images/icon-video.png"></img> Short</a></span>
      <span {{ haslongvideo }}> • <a href="{{ longvideo }}"><img class="icon-video" src="images/icon-video.png"></img> Long</a></span>
    </span>
    <strong><a href="{{ url }}">{{ title }}</a></strong>
    {{ award }}
</td></tr>
<tr><td>{{ authors }}</td></tr>


{% endblock %}