{% block content %}

<tr class="info">
  <td>
    <strong>Session {{ id }}: {{ name }} <!--({{ chair }})--></strong>
    <ul>
      <li style="padding-left: 20px"><i>{{ chair1 }}</i><span class="pull-right" style="text-align: right"><b>Mirror 1</b> <i class="adjustabletime" begin="{{ begin1 }}" end="{{ end1 }}">{{ time }}</i></span></li>
      <li style="padding-left: 20px"><i>{{ chair2 }}</i><span class="pull-right" style="text-align: right"><b>Mirror 2</b> <i class="adjustabletime" begin="{{ begin2 }}" end="{{ end2 }}">{{ time2 }}</i></span></li>
    </ul>
  </td>
</tr>
{{ papers }}



{% endblock %}
