{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text important-dates">
  <div class="welcome">

    <style>
      .register-button {
        font-size: 15pt;
      }
    </style>

    <div class="col-md-12">
      <h3>SOSP 2021 Registration</h3>
    </div>

    <div class="col-md-12">
      <h5>Registration Link</h5>

      <ul style="padding: 10px 0 20px 0">
        <li><a href="https://cvent.me/34954Y" class="register-button">Click Here to Register</a></li>
      </ul>
    </div>


    <div class="col-md-12">
      <h5>Fees</h5>

      <p>All fees are in US dollars</p>
    </div>

    <div class="col-md-12">
      <table align="left">

        <tr>
          <th>Registration Type</th>
          <th>Conference + Workshops</th>
        </tr>
        <tr class="emptyTableRow"><td colspan="3"></td></tr>

        <tr>
          <td>Non-Member</td>
          <td>99 USD</td>
        </tr>
        <tr>
          <td>ACM/SIGOPS Professional Member</td>
          <td>49 USD</td>
        </tr>
        <tr>
          <td>Student Non-Member</td>
          <td>49 USD</td>
        </tr>
        <tr>
          <td>ACM/SIGOPS Student Member</td>
          <td>0 USD</td>
        </tr>
      </table>
    <div class="clearfix"> </div>

      <p><b>Cancellation Policy.</b>
      No refunds are provided for any cancellations.  Modifications to registrations are permitted.  Substitutions (same type) for registered attendees are permitted.</p>

      <h5>ACM/SIGOPS Professional/Student Membership</h5>

      <ul style="padding: 10px 0 20px 0">
        <li><a class="register-button" href="https://services.acm.org/public/qj/gensigqj/login_gensigqj.cfm?rdr=promo=QJSIG&offering=422&form_type=SIG">Membership Sign-Up</a></li>
      </ul>
    </div>


    <div class="col-md-12">
      <h5>Problems</h5>
      <p>
      Questions about registration can be emailed to
      <a href="mailto:sosp21-chairs@mpi-sws.org">sosp21-chairs@mpi-sws.org</a>.
    </p>
    </div>

  </div>


</div>
{% endblock %}
