{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}



{% block content %}
<div class="main-text">
  <style>
  .program {font-size:16px;}
  .program p    {margin-bottom: 1em; line-height:  1.5;}
  </style>
  <div class="program">
    <h3>SOSP 2021 Meet the Sponsors</h3>

    <div class="col-md-12">
    <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <div style="text-align:justify; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400; font-size:16px">
      <div style="padding-bottom: 10px">
        <b>Sponsor Sessions.</b>
        Several sponsors will be running sponsor sessions where you can chat to researchers and learn more about the sponsor.  Sponsor sessions are listed both here and on the SOSP <a href="program.html">program</a>.
      </div>

      <div>
        <b>Slack channels.</b>
        Sponsors can be found on Slack in the channels <b>#sponsors-[name]</b> with the respective sponsor names.  Feel free to drop by to learn more about the sponsor!
      </div>
        </div>
      </div>

    <span class="pull-right">{% include "timezones.html" %}</span>
    
    <h2 class="left-h">Sponsor Sessions</h2>
    <table class="table table-spread" style="padding-left:auto;">

      <tr class="success ama">
        <td>
          <b>Google</b><br/>See the <b>#sponsors-google</b> channel on Slack for more information, or the <a href="flyers/google.pdf">Google Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635283800000" end="1635285600000">14:30 - 15:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success ama">
        <td>
          <b>Twitter</b><br/> See the <b>#sponsors-twitter</b> channel on Slack for more information, or the <a href="flyers/twitter.pdf">Twitter Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635285600000" end="1635288300000">15:00 - 15:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success ama">
        <td>
          <b>Exotanium</b><br/> See the <b>#sponsors-exotanium</b> channel on Slack for more information, or the <a href="flyers/exotanium.pdf">Exotanium Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635289200000" end="1635291000000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

            <tr class="success ama">
        <td>
          <b>VMware</b><br/> See the <b>#sponsors-vmware</b> channel on Slack for more information.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635291000000" end="1635292800000">16:30 - 17:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>


      <tr class="success ama">
        <td>
          <b>Amazon</b><br/> See the <b>#sponsors-amazon</b> channel on Slack for more information, or the <a href="flyers/amazon.pdf">Amazon Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635292800000" end="1635295500000">17:00 - 17:45 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      
      <tr class="success ama">
        <td>
          <b>Huawei</b><br/> See the <b>#sponsors-huawei</b> channel on Slack for more information, or the <a href="flyers/huawei.pdf">Huawei Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635318000000" end="1635321600000">00:00 - 01:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="success ama">
        <td>
          <b>Ant Group</b><br/> See the <b>#sponsors-antgroup</b> channel on Slack for more information, or the <a href="flyers/ant.pdf">Ant Group Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635373800000" end="1635375600000">15:30 - 16:00 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
      
      <tr class="success ama">
        <td>
          <b>Akamai</b><br/> See the <b>#sponsors-akamai</b> channel on Slack for more information, or the <a href="flyers/akamai.pdf">Akamai Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635375600000" end="1635377400000">16:00 - 16:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
      
      <tr class="success ama">
        <td>
          <b>Microsoft</b><br/> See the <b>#sponsors-microsoft</b> channel on Slack for more information, or the <a href="flyers/microsoft.pdf">Microsoft Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635378300000" end="1635381000000">16:45 - 17:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
      
      <tr class="success ama">
        <td>
          <b>Facebook</b><br/> See the <b>#sponsors-facebook</b> channel on Slack for more information, or the <a href="flyers/facebook.pdf">Facebook Flyer</a>.
          <span class="pull-right">
            <i class="adjustabletime" begin="1635464700000" end="1635467400000">16:45 - 17:30 (UTC-07:00)</i>
          </span>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
    <hr>
    <h2 class="left-h">Slack Channels and Flyers</h2>
    <table class="table table-spread" style="padding-left:auto;">

      <tr><td><h2>Platinum Sponsors</h2></td></tr>
      <tr class="ama">
        <td>
          <b>Huawei</b> • See the <b>#sponsors-huawei</b> channel on Slack for more information, or the <a href="flyers/huawei.pdf">Huawei Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr><td><h2>Gold Sponsors</h2></td></tr>
      <tr class="ama">
        <td>
          <b>Amazon</b> • See the <b>#sponsors-amazon</b> channel on Slack for more information, or the <a href="flyers/amazon.pdf">Amazon Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="ama">
        <td>
          <b>Facebook</b> • See the <b>#sponsors-facebook</b> channel on Slack for more information, or the <a href="flyers/facebook.pdf">Facebook Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="ama">
        <td>
          <b>IMO Ventures</b> • See the <b>#sponsors-imo</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="ama">
        <td>
          <b>Microsoft</b> • See the <b>#sponsors-microsoft</b> channel on Slack for more information, or the <a href="flyers/microsoft.pdf">Microsoft Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="ama">
        <td>
          <b>Twitter</b> • See the <b>#sponsors-twitter</b> channel on Slack for more information, or the <a href="flyers/twitter.pdf">Twitter Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr><td><h2>Silver Sponsors</h2></td></tr>

      <tr class=" ama">
        <td>
          <b>Akamai</b> • See the <b>#sponsors-akamai</b> channel on Slack for more information, or the <a href="flyers/akamai.pdf">Akamai Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Ant Group</b> • See the <b>#sponsors-antgroup</b> channel on Slack for more information, or the <a href="flyers/ant.pdf">Ant Group Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Apple</b> • See the <b>#sponsors-apple</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>ByteDance</b> • See the <b>#sponsors-bytedance</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Exotanium</b> • See the <b>#sponsors-exotanium</b> channel on Slack for more information, or the <a href="flyers/exotanium.pdf">Exotanium Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Google</b> • See the <b>#sponsors-google</b> channel on Slack for more information, or the <a href="flyers/google.pdf">Google Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Meituan</b> • See the <b>#sponsors-meituan</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class="ama">
        <td>
          <b>VMware</b> • See the <b>#sponsors-vmware</b> channel on Slack for more information, or the <a href="flyers/vmware.pdf">VMware Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr><td><h2>Bronze Sponsors</h2></td></tr>

      <tr class=" ama">
        <td>
          <b>Baidu</b> • See the <b>#sponsors-baidu</b> channel on Slack for more information, or the <a href="flyers/baidu.pdf">Baidu Flyer</a>.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr class=" ama">
        <td>
          <b>Katanagraph</b> • See the <b>#sponsors-katanagraph</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

      <tr><td><h2>Other Sponsors</h2></td></tr>

      <tr class=" ama">
        <td>
          <b>Hewlett Packard Enterprise</b> • See the <b>#sponsors-hpe</b> channel on Slack for more information.
        </td>
      </tr>
      <tr><td></td></tr>

    </table>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
