{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}

<style>
.sponsors {

}

.sponsor-type {
  margin: auto;
  max-width: 700px;
  width: 75%;
  background-color: #eee;
  color: black;
  padding: 4px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.sponsors #content p {
  min-height: 80px;
}
</style>

<div class="main-text">
  <div class="sponsors">
    <div class="sponsors-middle">
      <div id="content">

    <div style="text-align:justify; width:80%; margin: auto; padding: 1.5% 3%; font-weight: 500">
        <div style="text-align:justify; width:90%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 400; font-size: 16px">
      <div style="padding-bottom: 10px">
        <b>Sponsor Sessions.</b>
        Several sponsors will be running sponsor sessions where you can chat to researchers and learn more about the sponsor.  Sponsor sessions are listed on the SOSP <a href="program.html">program</a> or alternatively the schedule of sponsor sessions can be found <a href="sponsor_sessions.html">here</a>.
      </div>

      <div>
        <b>Slack channels.</b>
        Sponsors can be found on Slack in the channels <b>#sponsors-[name]</b> with the respective sponsor names.  Feel free to drop by to learn more about the sponsor!
      </div>
        </div>
      </div>
        <h3 class="sponsor-type">Platinum</h3>
        <p>
          <a href="http://www.huawei.com/">
            <img id="huawei" src="logos/huawei.png" title="Huawei">
          </a>
        </p>
        <h3 class="sponsor-type">Gold</h3>
        <p>
          <a href="http://www.amazon.com/">
            <img id="amazon" src="logos/amazon.png" title="Amazon">
          </a>
        </p>
        <p>
          <a href="https://research.fb.com/">
            <img id="facebook" src="logos/fb.png" title="Facebook">
          </a>
        </p>
        <p>
          <a href="https://imo.vc/">
            <img id="imo_ventures" src="logos/imo_ventures.png" title="IMO Ventures">
          </a>
        </p>
        <p>
          <a href="https://www.microsoft.com/">
            <img id="microsoft" src="logos/microsoft.png" title="Microsoft">
          </a>
        </p>
        <p>
          <a href="https://www.twitter.com/">
            <img id="twitter" src="logos/twitter.png" title="Twitter">
          </a>
        </p>

        <h3 class="sponsor-type">Silver</h3>
        <p>
          <a href="https://www.akamai.com/">
            <img id="akamai" src="logos/akamai.png" title="Akamai">
          </a>
        </p>
        <p>
          <a href="https://www.antgroup.com/">
            <img id="ant_group" src="logos/ant_group.png" title="Ant Group">
          </a>
        </p>
        <p>
          <a href="https://www.apple.com/">
            <img id="apple" src="logos/apple.png" title="Apple">
          </a>
        </p>
        <p>
          <a href="https://www.bytedance.com/">
            <img id="bytedance" src="logos/ByteDance.png" title="ByteDance">
          </a>
        </p>
        <p>
          <a href="http://www.exotanium.io/">
            <img id="exotanium" src="logos/exotanium.png" title="Exotanium">
          </a>
        </p>
        <p>
          <a href="https://careers.google.com/students/">
            <img id="google" src="logos/google.png" title="Google">
          </a>
        </p>
        <p>
          <a href="https://about.meituan.com/en">
            <img id="meituan" src="logos/meituan.png" title="meituan">
          </a>
        </p>
        <p>
          <a href="https://www.vmware.com">
            <img id="vmware" src="logos/vmware.png" title="vmware">
          </a>
        </p>


        <h3 class="sponsor-type">Bronze</h3>
        <p>
          <a href="https://www.baidu.com/">
            <img id="baidu" src="logos/baidu.png" title="Baidu">
          </a>
        </p>
        <p>
          <a href="https://www.katanagraph.com/">
            <img id="katanagraph" src="logos/katanagraph.png" title="Katana Graph">
          </a>
        </p>

        <h3 class="sponsor-type">Other</h3>
        <p>
          <a href="https://www.hpe.com/">
            <img id="hpelabs" src="logos/hpelabs.png"
                title="Hewlett Packard Enterprise">
          </a>
    </div>
  </div>
</div>
{% endblock %}
