{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Online</h3>
    <p>SOSP 2021 will be a virtual conference held online.  Details about the online conference format will be made available soon.</p>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
