{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
      <h3>Workshops</h3>

      <h5 style="text-align:center;">
        <a href="#plos">PLOS</a> | 
        <a href="#resilientfl">ResilientFL</a>
      </h5>
      <p align="center">
      <!--<a href="wtprog.pdf">
        <img class="icon-paper" src="images/icon-paper.png"/>
        Workshop and Tutorial Program (PDF)
      </a>-->
      </p>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = False %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <hr style="border:none;height:0.1em;color:lightgrey;background-color:lightgrey;"/>
        <h5 class="left-h" id="diversity">Diversity Workshop at SOSP '21</h5>
      <br/>

      <b>Organizers</b>
      <ul>
        <li>Amy Tai, VMWare Research</li>
        <li>Natacha Crooks, UC Berkeley</li>
      </ul>
      <br/>
      <p>
The workshop provides a forum for students, particularly those from underrepresented groups, at the graduate and advanced undergraduate levels who have interests in computer systems research. The workshop program will include panel sessions and interactive events offered and organized by leading researchers in academia and industry, covering topics about system research and general career development tips. The workshop is welcome to all interested participants.      </p>
      <p>
      <a href="diversity.html">See the Diversity Workshop page for More Details</a>
      </p>
      <hr style="border:none;height:0.1em;color:lightgrey;background-color:lightgrey;"/>
      <a href="https://plos-workshop.org/2021/">
  <h5 class="left-h" id="plos">PLOS 2021: Eleventh Workshop on Programming Languages 
      and Operating Systems</h5>
      </a>
      <br/>

      <b>Organizers</b>
      <ul>
        <li>Antonio Barbalace, University of Edinburgh</li>
        <li>Eric Eide, University of Utah</li>
        <li>Pierre Olivier, University of Manchester</li>
        <li>Olaf Spinczyk, Universität Osnabrück</li>
      </ul>
      <br/>
      <p>
 Historically, operating system development and programming language development went hand-in-hand. Challenges in one area were often approached using ideas or techniques developed in the other, and advances in one area enabled new capabilities in the other. Today, although the systems community at large retains an iron grip on C, modern programming language ideas continue to spark innovations in OS design and construction. Conversely, the systems field continues to provide a wealth of challenging problems and practical results that should lead to advances in programming languages, software designs, and idioms.
      </p>
      <p>
This workshop will bring together researchers and developers from the programming language and operating system domains to discuss recent work at the intersection of these fields. It will be a platform for discussing new visions, challenges, experiences, problems, and solutions arising from the application of advanced programming and software engineering concepts to operating systems construction, and vice versa. 
      </p>
      <p>
      <a href="https://plos-workshop.org/2021/">See PLOS Website for More Details</a>
      </p>

      <hr style="border:none;height:0.1em;color:lightgrey;background-color:lightgrey;"/>
      <a href="https://resilientfl.org/index.html">
        <h5 class="left-h" id="resilientfl">ResilientFL 2021: First Workshop on Systems Challenges in Reliable and Secure Federated Learning</h5>
      </a>
      <br/>

      <b>Organizers</b>
      <ul>
        <li>Saurabh Bagchi, Purdue University</li>
        <li>Kevin Chan, US Army Research Lab</li>
        <li>Christof Fetzer, Technische Universität Dresden</li>
        <li>Tom Jacobs, Adobe Research</li>
        <li>Suman Jana, Columbia University</li>
        <li>Prateek Mittal, Princeton University</li>
      </ul>
      <br/>
      <p>
 The workshop will focus on the systems challenges raised by the area of federated (machine) learning, or more generally, distributed learning. In particular, we will focus on how to achieve reliable and secure learning considering that federated learning relies on a distributed set of nodes, often geographically distributed, not physically secured, heterogeneous, and with varying levels of resource constraints. The workshop will lead to a first-of-its-kind vision paper that will synthesize the progress we have made, the overarching technical problems we have to solve, and the 5 most compelling usage scenarios. We will plan on holding this workshop annually, rotating among security and systems venues. 
      </p>
      <p>
      <a href="https://resilientfl.org/index.html">See ResilientFL 
        Website for More Details</a>
      </p>

      <hr style="border:none;height:0.1em;color:lightgrey;background-color:lightgrey;"/>
    <div class="col-md-12">
      <h5 class="left-h">Contact</h5>
      <p>
      Any questions should be emailed to the SOSP 2021 Workshop Chair, Manos Kapritsos (manosk@umich.edu).
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
